body{
    box-sizing: border-box;
    scroll-behavior: smooth;

    .welcome-section{
        height: 683px;
        width: 100%;

        .navbar{
            height: 70px;
            width: 100%;

            ul{
                font-family: 'Manrope', sans-serif;
                display: flex;
                flex-direction: row;
                background-color: rgb(16, 16, 16, 0);
                height: 50px;
                align-items: center;
                text-align: center;
                padding-left: 20px;
                z-index: 1;
                position: relative;

                li{

                    .logo{
                        margin-right: 255px;
                    }

                    .cart{
                        margin-left: 360px;
                    }

                    a{
                        padding-right: 40px;
                        color: #f1f1f1;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
            }
        }

        .hero-section{
            background-image: url('../images/desktop/image-hero.jpg');
            background-size: cover;
            height: 100%;
            width: 100%;
            position: relative;
            bottom: 70px;
        }

        .intro{
            height: 346px;
            width: 398px;
            position: relative;
            top: 225px;
            left: 165px;
            font-family: 'Manrope', sans-serif;

            h2{
                font-size: 14px;
                color: #7e7878;
                text-transform: uppercase;
                letter-spacing: 10px;
                margin-bottom: 30px;
            }

            h1{
                color: #f1f1f1;
                font-weight: bold;
                line-height: 58px;
                letter-spacing: 2px;
                font-size: 56px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            p{
                color: #f1f1f1;
                font-weight: 400;
                line-height: 25px;
                font-size: 15px;
                margin-bottom: 35px;
            }

            .main-product{
                width: 160px;
                height: 48px;
                border: none;
                background-color: #D87D4A;
                color: #ffffff;
                font-weight: bold;
                font-size: 13px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }

    .product-section{
        padding: 249px 165px 849px 135px;
        font-family: 'Manrope', sans-serif;

        .product-list{
            display: flex;
            flex-direction: row;
            gap: 30px;
            width: 1110px;
            height: 289px;

            .product-link{
                height: 284px;
                width: 350px;
                text-align: center;


                .headphones{
                    background-color: #f1f1f1;
                    height: 204px;
                    width: 350px;
                    margin-top: 85px;


                    h2{
                        font-weight: bold;
                        font-size: 18px;
                        letter-spacing: 1.29px;
                        padding-bottom: 10px;
                        text-transform: uppercase;
                    }

                    img{
                        height: 140px;
                        width: 140px;
                        position: relative;
                        margin-bottom: -40px;
                        bottom: 40px;
                    }

                    a{
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 13px;
                        color: black;
                        text-transform: uppercase;

                        span{
                            color: #d87d4a;
                            font-size: 17px;
                        }
                    }
                }

                .speakers{
                    background-color: #f1f1f1;
                    height: 204px;
                    width: 350px;
                    margin-top: 85px;

                    img{
                        height: 140px;
                        width: 150px;
                        margin-bottom: -40px;
                        position: relative;
                        bottom: 40px;
                    }

                    h2{
                        font-weight: bold;
                        font-size: 18px;
                        letter-spacing: 1.29px;
                        padding-bottom: 15px;
                        text-transform: uppercase;
                    }

                    a{
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 13px;
                        color: black;
                        text-transform: uppercase;

                        span{
                            color: #d87d4a;
                            font-size: 17px;
                        }
                    }
                }

                .earphones{
                    background-color: #f1f1f1;
                    height: 204px;
                    width: 350px;
                    margin-top: 83px;

                    img{
                        height: 130px;
                        width: 150px;
                        margin-bottom: -40px;
                        position: relative;
                        bottom: 35px;
                    }

                    h2{
                        font-weight: bold;
                        font-size: 18px;
                        padding-top: 10px;
                        padding-bottom: 15px;
                        letter-spacing: 1.29px;
                        text-transform: uppercase;
                    }

                    a{
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 13px;
                        color: black;
                        text-transform: uppercase;

                        span{
                            color: #d87d4a;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}