body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body .welcome-section {
  height: 683px;
  width: 100%;
  overflow: hidden;
}
body .welcome-section .navbar {
  height: 70px;
  width: 100%;
}
body .welcome-section .navbar ul {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: row;
  background-color: rgba(16, 16, 16, 0);
  height: 50px;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  z-index: 1;
  position: relative;
}
body .welcome-section .navbar ul li .logo {
  margin-left: 140px;
  margin-right: 285px;
}
body .welcome-section .navbar ul li .cart {
  margin-left: 300px;
  margin-right: 90px;
}
body .welcome-section .navbar ul li a {
  padding-right: 45px;
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
body .welcome-section .navbar ul li a:hover {
  color: #D87D4A;
  transition-duration: 0.4s;
}
body .welcome-section .hero-section {
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 70px;
}
body .welcome-section .intro {
  height: 346px;
  width: 398px;
  position: relative;
  top: 225px;
  left: 165px;
  font-family: "Manrope", sans-serif;
}
body .welcome-section .intro h2 {
  font-size: 14px;
  color: #7e7878;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 30px;
}
body .welcome-section .intro h1 {
  color: #f1f1f1;
  font-weight: bold;
  line-height: 58px;
  letter-spacing: 2px;
  font-size: 56px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body .welcome-section .intro p {
  color: #f1f1f1;
  font-weight: 400;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 35px;
}
body .welcome-section .intro .main-product {
  width: 160px;
  height: 48px;
  border: none;
  background-color: #D87D4A;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
body .welcome-section .intro .main-product:hover {
  cursor: pointer;
}
body .product-section {
  padding: 249px 165px 849px 135px;
  font-family: "Manrope", sans-serif;
  height: 2480px;
}
body .product-section .product-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1110px;
  height: 289px;
}
body .product-section .product-list .product-link {
  height: 284px;
  width: 350px;
  text-align: center;
}
body .product-section .product-list .product-link .headphones {
  background-color: #f1f1f1;
  height: 204px;
  width: 350px;
  margin-top: 85px;
  border-radius: 6px;
}
body .product-section .product-list .product-link .headphones h2 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.29px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
body .product-section .product-list .product-link .headphones img {
  height: 140px;
  width: 140px;
  position: relative;
  margin-bottom: -40px;
  bottom: 40px;
}
body .product-section .product-list .product-link .headphones a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  color: black;
  text-transform: uppercase;
}
body .product-section .product-list .product-link .headphones a span {
  color: #d87d4a;
  font-size: 17px;
}
body .product-section .product-list .product-link .speakers {
  background-color: #f1f1f1;
  height: 204px;
  width: 350px;
  margin-top: 85px;
  border-radius: 6px;
}
body .product-section .product-list .product-link .speakers img {
  height: 140px;
  width: 150px;
  margin-bottom: -40px;
  position: relative;
  bottom: 40px;
}
body .product-section .product-list .product-link .speakers h2 {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.29px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
body .product-section .product-list .product-link .speakers a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  color: black;
  text-transform: uppercase;
}
body .product-section .product-list .product-link .speakers a span {
  color: #d87d4a;
  font-size: 17px;
}
body .product-section .product-list .product-link .earphones {
  background-color: #f1f1f1;
  height: 204px;
  width: 350px;
  margin-top: 83px;
  border-radius: 6px;
}
body .product-section .product-list .product-link .earphones img {
  height: 130px;
  width: 150px;
  margin-bottom: -40px;
  position: relative;
  bottom: 35px;
}
body .product-section .product-list .product-link .earphones h2 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 15px;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}
body .product-section .product-list .product-link .earphones a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  color: black;
  text-transform: uppercase;
}
body .product-section .product-list .product-link .earphones a span {
  color: #d87d4a;
  font-size: 17px;
}
body .product-section .zx9-speaker {
  margin-top: 206px;
  height: 560px;
  width: 1110px;
  background-image: url("../images/desktop/pattern-circles.svg");
  background-size: cover;
  background-color: #d87d4a;
  border-radius: 10px;
  overflow: hidden;
}
body .product-section .zx9-speaker img {
  width: 410.23px;
  height: 493px;
  position: relative;
  top: 76px;
  left: 120px;
}
body .product-section .zx9-speaker .new-speaker {
  width: 349px;
  height: 303px;
  position: relative;
  left: 650px;
  bottom: 340px;
}
body .product-section .zx9-speaker .new-speaker h1 {
  letter-spacing: 2px;
  line-height: 58px;
  font-size: 56px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 20px;
}
body .product-section .zx9-speaker .new-speaker p {
  line-height: 25px;
  font-size: 15px;
  font-weight: medium;
  color: #ffffff;
  padding-bottom: 35px;
}
body .product-section .zx9-speaker .new-speaker button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: black;
  border: none;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 160px;
  height: 48px;
}
body .product-section .zx9-speaker .new-speaker button:hover {
  cursor: pointer;
}
body .product-section .zx7-speaker {
  width: 1110px;
  height: 320px;
  margin-top: 200px;
  border-radius: 6px;
  background-image: url("../images/desktop/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
body .product-section .zx7-speaker .second-speaker {
  width: 204px;
  height: 118px;
  border-radius: 6px;
  margin-top: 120px;
  margin-left: 140px;
}
body .product-section .zx7-speaker .second-speaker h1 {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 30px;
}
body .product-section .zx7-speaker .second-speaker button {
  width: 160px;
  height: 48px;
  border: black 1px solid;
  background-color: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
body .product-section .zx7-speaker .second-speaker button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}
body .product-section .yx1-earphones {
  width: 1110px;
  height: 320px;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  gap: 35px;
}
body .product-section .yx1-earphones img {
  height: 320px;
  width: 540px;
  border-radius: 6px;
}
body .product-section .yx1-earphones .new-earphones {
  background-color: #f1f1f1;
  width: 540px;
  height: 320px;
  border-radius: 6px;
}
body .product-section .yx1-earphones .new-earphones .info {
  width: 247px;
  height: 118px;
  margin-left: 100px;
  margin-top: 100px;
}
body .product-section .yx1-earphones .new-earphones .info h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 28px;
}
body .product-section .yx1-earphones .new-earphones .info button {
  margin-top: 42px;
  width: 160px;
  height: 48px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border: black solid 1px;
}
body .product-section .yx1-earphones .new-earphones .info button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}
body .product-section .ending-quote {
  margin-top: 200px;
  height: 588px;
  width: 1110px;
  display: flex;
  flex-direction: row;
}
body .product-section .ending-quote img {
  border-radius: 6px;
}
body .product-section .ending-quote .location-info {
  padding-top: 150px;
  padding-left: 40px;
}
body .product-section .ending-quote .location-info h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  padding-bottom: 40px;
}
body .product-section .ending-quote .location-info h1 span {
  color: #d87d4a;
}
body .product-section .ending-quote .location-info p {
  line-height: 25px;
  font-size: 15px;
  font-weight: medium;
  letter-spacing: 0px;
  width: 445px;
  height: 175px;
}
body .product-section .last-section {
  border: black solid 2px;
  background-color: black;
  margin-top: 130px;
  position: relative;
  right: 137px;
  width: 1360px;
  height: 379px;
  display: flex;
  overflow: hidden;
}
body .product-section .last-section .footer-info {
  color: white;
}
body .product-section .last-section .footer-info .footer-nav {
  flex-direction: row;
  height: 25px;
  width: 1106px;
  margin-bottom: 30px;
  margin-top: 30px;
}
body .product-section .last-section .footer-info .footer-nav ul {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
body .product-section .last-section .footer-info .footer-nav ul li .logo-2 {
  padding-left: 100px;
  padding-right: 750px;
}
body .product-section .last-section .footer-info .footer-nav ul li .logo-2 img {
  height: 25px;
  width: 143px;
}
body .product-section .last-section .footer-info .footer-nav ul li a {
  text-decoration: none;
  color: white;
  line-height: 25px;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 13px;
  padding-right: 30px;
  text-transform: uppercase;
}
body .product-section .last-section .footer-info .footer-nav ul li a:hover {
  color: #D87D4A;
  transition-duration: 0.4s;
}
body .product-section .last-section .footer-info .more {
  height: 210px;
  width: 540px;
  margin-left: 90px;
  margin-top: 90px;
}
body .product-section .last-section .footer-info .more p {
  font-weight: medium;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
}
body .product-section .last-section .footer-info .more .copyright {
  margin-top: 80px;
}
body .product-section .last-section .footer-info .social-links {
  position: relative;
  left: 1000px;
  bottom: 200px;
}
body .product-section .last-section .footer-info .social-links img {
  padding-right: 15px;
  height: 24px;
  width: 24px;
}/*# sourceMappingURL=styles.css.map */